{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ block "title" . }}SMS in Docker Rules{{ end }}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  {{ block "style" .}}{{ end }}
</head>
<body>

  {{ template "navbar" . }}
  {{ block "content" . }}{{ end }}

  <!-- Optional JavaScript -->
  {{ block "script" . }}{{ end }}
</body>
</html>
{{ end }}